In [26]:
# dependencies needed
!pip install pandas

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [27]:
import pandas as pd
import numpy as np

In [28]:
# path to the file
df = pd.read_csv("heart_attack_prediction_indonesia.csv")

In [29]:
print("First 5 records:\n", df.head())
df.info()
df.describe()

First 5 records:
    age  gender region income_level  hypertension  diabetes  cholesterol_level  \
0   60    Male  Rural       Middle             0         1                211
1   53  Female  Urban          Low             0         0                208
2   62  Female  Urban          Low             0         0                231
3   73    Male  Urban          Low             1         0                202
4   52    Male  Urban       Middle             1         0                232

   obesity  waist_circumference  family_history  ... blood_pressure_diastolic  \
0        0                   83               0  ...                       62
1        0                  106               1  ...                       76
2        1                  112               1  ...                       74
3        0                   82               1  ...                       65
4        0                   89               0  ...                       75

  fasting_blood_sugar cholesterol_hdl cholesterol_ldl triglycerides  \
0                 173              48             121           101
1                  70              58              83           138
2                 118              69             130           171
3                  98              52              85           146
4                 104              59             127           139

  EKG_results  previous_heart_disease  medication_usage  \
0      Normal                       0                 0
1      Normal                       1                 0
2    Abnormal                       0                 1
3      Normal                       0                 1
4      Normal                       1                 0

   participated_in_free_screening  heart_attack
0                               0             0
1                               1             0
2                               0             1
3                               1             0
4                               1             1

[5 rows x 28 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158355 entries, 0 to 158354
Data columns (total 28 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   age                             158355 non-null  int64
 1   gender                          158355 non-null  object
 2   region                          158355 non-null  object
 3   income_level                    158355 non-null  object
 4   hypertension                    158355 non-null  int64
 5   diabetes                        158355 non-null  int64
 6   cholesterol_level               158355 non-null  int64
 7   obesity                         158355 non-null  int64
 8   waist_circumference             158355 non-null  int64
 9   family_history                  158355 non-null  int64
 10  smoking_status                  158355 non-null  object
 11  alcohol_consumption             63507 non-null   object
 12  physical_activity               158355 non-null  object
 13  dietary_habits                  158355 non-null  object
 14  air_pollution_exposure          158355 non-null  object
 15  stress_level                    158355 non-null  object
 16  sleep_hours                     158355 non-null  float64
 17  blood_pressure_systolic         158355 non-null  int64
 18  blood_pressure_diastolic        158355 non-null  int64
 19  fasting_blood_sugar             158355 non-null  int64
 20  cholesterol_hdl                 158355 non-null  int64
 21  cholesterol_ldl                 158355 non-null  int64
 22  triglycerides                   158355 non-null  int64
 23  EKG_results                     158355 non-null  object
 24  previous_heart_disease          158355 non-null  int64
 25  medication_usage                158355 non-null  int64
 26  participated_in_free_screening  158355 non-null  int64
 27  heart_attack                    158355 non-null  int64
dtypes: float64(1), int64(17), object(10)
memory usage: 33.8+ MB

,age,hypertension,diabetes,cholesterol_level,obesity,waist_circumference,family_history,sleep_hours,blood_pressure_systolic,blood_pressure_diastolic,fasting_blood_sugar,cholesterol_hdl,cholesterol_ldl,triglycerides,previous_heart_disease,medication_usage,participated_in_free_screening,heart_attack
count,158355.000000,158355.000000,158355.000000,158355.000000,158355.000000,158355.000000,158355.000000,158355.000000,158355.000000,158355.000000,158355.000000,158355.000000,158355.000000,158355.000000,158355.000000,158355.000000,158355.000000,158355.000000
mean,54.543778,0.299069,0.199804,199.533264,0.249901,93.268504,0.300218,6.480064,129.515772,79.490809,110.736762,49.491478,129.569916,149.715885,0.200575,0.499770,0.601029,0.401004
std,11.910897,0.457851,0.399854,39.737565,0.432957,16.382205,0.458354,1.425398,15.005641,10.002964,27.673445,9.982634,34.913318,49.023473,0.400432,0.500002,0.489688,0.490103
min,25.000000,0.000000,0.000000,100.000000,0.000000,20.000000,0.000000,3.000000,61.000000,37.000000,70.000000,8.000000,-19.000000,50.000000,0.000000,0.000000,0.000000,0.000000
25%,46.000000,0.000000,0.000000,172.000000,0.000000,82.000000,0.000000,5.492985,119.000000,73.000000,89.000000,43.000000,106.000000,116.000000,0.000000,0.000000,0.000000,0.000000
50%,55.000000,0.000000,0.000000,199.000000,0.000000,93.000000,0.000000,6.507461,130.000000,80.000000,109.000000,49.000000,130.000000,149.000000,0.000000,0.000000,1.000000,0.000000
75%,63.000000,1.000000,0.000000,226.000000,0.000000,104.000000,1.000000,7.520640,140.000000,86.000000,130.000000,56.000000,153.000000,183.000000,0.000000,1.000000,1.000000,1.000000
max,90.000000,1.000000,1.000000,350.000000,1.000000,173.000000,1.000000,9.000000,199.000000,127.000000,230.000000,93.000000,282.000000,380.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
# we are gonna be calculating the probability wether a patient had a heart attack P(Heart Attack) and  the probability wether a patient has diabetes P(Diabetes)